@model Book
@{
    ViewData["Title"] = "Usuń książkę";
}

@if (TempData["AddMessage"] != null)
{
    <div class="alert alert-info">@TempData["AddMessage"]</div>
}

<div class="card my-4 overflow-hidden">
    <div class="row g-0 border-bottom">
        <div class="col-md-5 pr-md-0 d-flex flex-column justify-content-center">
            <img src="~/images/ListWButelce.jpeg" class="img-fluid rounded-start overflow-hidden" alt="...">
        </div>
        <div class="col-md-7 pl-md-0 d-flex flex-column text-center text-md-left">
            <div class="card-header">
                <h1 class="card-title">@Model.Name</h1>
                <h3 class="card-text">@Model.Author</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Wydawnictwo: <span class="font-weight-bold pl-1">@Model.Publisher</span>
                    </li>
                    <li class="list-group-item">
                        Rok wydania: <span class="font-weight-bold pl-1">@Model.Year</span>
                    </li>
                    <li class="list-group-item">
                        Gatunek: <span class="font-weight-bold pl-1">@Model.Genre</span>
                    </li>
                    <li class="list-group-item">
                        Ilość stron: <span class="font-weight-bold pl-1">@Model.NumberOfPages</span>
                    </li>
                    <li class="list-group-item">
                        Liczba dostepnych egzemplarzy: <span class="font-weight-bold pl-1">@Model.Count</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <a>Czy na pewno usunąć tę książkę?</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Tak" class="btn btn-danger" /> 
                    <a class="btn btn-primary" asp-action="Details" asp-route-bookId="@Model.Id">Nie</a>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Opis:</h3>
        @Model.LongDescription
    </div>
</div>

