@model BooksIndexViewModel
@{
    ViewData["Title"] = "Księgozbiór";
}

<div class="d-flex flex-row justify-content-between">
    <h1 class="mb-3">@ViewData["Title"]</h1>
    <a class="btn btn-primary align-self-center" asp-controller="Books" asp-action="Add">Dodaj książke</a>
</div>


<form method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control" placeholder="Wyszukaj po nazwie" aria-label="Search for restaurants" aria-describedby="basic-addon2" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>



@foreach (var book in Model.Books)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3 pr-md-0 pr-lg-3 d-flex flex-column justify-content-center">
                <img src="~/images/bookPlaceholder.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9 pl-md-0 pl-lg-3">
                <div class="card-body">
                    <a asp-controller="Books" asp-action="Details" asp-route-bookId="@book.Id" class="text-decoration-none">
                        <h3 class="card-title">@book.Name</h3>
                    </a>
                    <h5>@book.Author</h5>
                    <p class="card-text">@book.ShortDescription</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Gatunek: @book.Genre | Liczba stron: @book.NumberOfPages
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}

