@model ReservationRequestsVm
@{
    ViewData["Title"] = "Moje wypożyczenia/rezerwacje";
}

<div class="d-flex flex-row justify-content-between">
    <h1 class="mb-3">@ViewData["Title"]</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytuł książki</th>
            <th>Data</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
        <tr>
            <td>@item.Book.Name</td>
            <td>@item.DateOfIssue</td>
            @if (@item.ReservationState == ReservationState.Pending)
            {
                <td>Oczekujący</td>
                <td></td>
            }
            @if (@item.ReservationState == ReservationState.Rejected)
            {
        <td>Rezerwacja Odrzucona</td>
                <td></td>
            }
            @if (@item.ReservationState == ReservationState.Accepted)
            {
        <td>Rezerwacja Zaakceptowana</td>
                <td></td>
            }
            @if (@item.ReservationState == ReservationState.Borrowed)
            {
                <td>Wypożyczona</td>
                <td></td>
            }
            @if (@item.ReservationState == ReservationState.Returned)
            {
                <td>Książka została oddana</td>
                <td></td>
            }
        </tr>

        }
    </tbody>
</table>